*

!*.h
!*.md
!*.cpp
!*.cmake
!.gitignore
!CMakeLists.txt

!tests/
!server/
!sdk/
!cmake/
!cmake/fetch/

!sdk/example
!sdk/myclass
!sdk/myclass/include
!sdk/myclass/src
!sdk/example/makefile
!sdk/myclass/makefile
!sdk/makefile